.bodyTemplate {
    display: flex;
    flex-direction: column;
    padding: 30px 80px;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
}

.bodyTemplate p {
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
    width: 70%;
}

.industriesArray {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    gap: 20px;
    width: 40%;
    margin-top: 10px;
}

.rightColumn {
    font-size: 1.4rem;
    line-height: 1.5;
}
.link{
    font-size: 1.6rem;
    line-height: 1.5;
}

.rightColumn li {
    margin-bottom: 10px;
    list-style-type: none;
}

.rightColumn ul:hover{
    color: var(--primary-color);
}

.link:hover{
    color: var(--primary-color);
}

.bold {
    font-weight: 900;
}

.uppercase {
    text-transform: uppercase;
}


@media (max-width: 768px) {
    .bodyTemplate {
      padding: 30px; 
      gap: 15px; 
    }
  
    .bodyTemplate p {
        font-size: 1.2rem;
        line-height: 1.3;
        width: 90%;
    }
    
    .industriesArray {
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        gap: 15px;
        width: 100%;
    }
    
    .rightColumn,
    .link {
        font-size: 1.2rem;
        line-height: 1.3;
    }
  }

  @media (min-width: 769px) and (max-width: 1280px) {
    .bodyTemplate {
        padding: 30px;
    }
    
    .bodyTemplate p {
        font-size: 1.6rem;
        line-height: 1.5;
        margin: 0;
        width: 70%;
    }
    
    .industriesArray {
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        gap: 20px;
        width: 70%;
        margin-top: 10px;
    }
    
    
  }
   
