* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #fafafa;
  color: #000000;
}

:root {
  --primary-color: #d3a629;
  --secondary-color: #000000;
  --secondary-color-hover: rgba(0, 0, 0, 0.65);
  --background-color-white: #ffffff;
  --background-color: #fafafa;
  --text-color: #333333;
  --header-height: 100px; 
  --column-number-color: #e1e1e1;
}

.container {
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: var(--secondary-color);
}

p {
  margin-bottom: 1rem;
  color: var(--text-color);
}
a {
  text-decoration: none;
  color: inherit;
}


button, 
div, 
a {
  user-select: none;
  outline: none; 
}

button:focus, 
div:focus, 
a:focus {
  outline: none; 
}