.main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main_container {
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.main_container::-webkit-scrollbar {
    width: 2px;
}

.main_container::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;
}

.main_container::-webkit-scrollbar-track {
    background-color: transparent;
}


@media (max-width: 1700px) {
    .main {
        margin-top: 80px;
    }
}


@media (max-width: 768px) {
    .main_container {
        min-height: 100vh;
        overflow-y: auto; 
        scroll-snap-type: none;
      }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .main_container {
        scroll-snap-type: none;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {


}

@media (min-width: 1281px) and (max-width: 1440px) {

}

@media (min-width: 1441px) and (max-width: 1700px) {

}

