.bodyTemplate {
    display: flex;
    flex-direction: column;
    padding: 30px 80px;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
}

.bodyTemplate p {
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
    width: 70%;
}

.industriesArray {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    margin-top: 10px;
    white-space: pre-line;
}

.leftColumn,
.rightColumn {
    font-size: 1.4rem;
    line-height: 1.5;
}

.leftColumn ul,
.rightColumn ul {
    padding-left: 20px;
}

.leftColumn li,
.rightColumn li {
    list-style-type: disc;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .bodyTemplate {
        padding: 30px;
    }

    .bodyTemplate p {
        font-size: 1.2rem;
        line-height: 1.3;
        width: 100%;
    }

    .industriesArray {
        display: flex;
        flex-direction: column;
        margin-top: 8px;
        gap: 0;
    }

    .leftColumn,
    .rightColumn {
        font-size: 1.2rem;
        line-height: 1.3;
    }

}

@media (min-width: 769px) and (max-width: 1280px) {
    .bodyTemplate {
        padding: 30px;
        gap: 20px;
    }

    .bodyTemplate p {
        font-size: 1.4rem;
        line-height: 1.4;
        width: 85%;
    }

    .leftColumn,
    .rightColumn {
        font-size: 1.3rem;
        line-height: 1.4;
    }

}

@media (min-width: 1025px) and (max-width: 1800px) and (max-height: 1078px) {
    .bodyTemplate {
        padding: 30px 60px;
        gap: 10px;
    }

    .bodyTemplate p {
        font-size: 1.4rem;
        line-height: 1.3;
    }

    .industriesArray {
        gap: 10px;
    }

    .leftColumn,
    .rightColumn {
        font-size: 1.3rem;
        line-height: 1.3;
    }

}