.main {
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - var(--header-height));
  display: flex;
  align-items: center; 
  justify-content: center; 
  scroll-snap-align: start; 
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
}

.imageBlock {
  grid-column: 1;
  background-color: var(--secondary-color);
  width: 100%;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.textBlock {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-color);
  padding: 50px 80px 80px 80px;
  box-sizing: border-box;
  height: 100%; 
}

.textBlockСontainer {
  flex: 0 0 65%; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
}

.subtitle {
padding-bottom: 30px;
  font-size: 2rem;
  color: var(--secondary-color);
}

.title {
  font-size: 6rem;
  font-weight: bold;
  color: var(--secondary-color);
  margin: 0; 
  line-height: 0.95;
}

.buttons {
  flex: 0 0 35%; 
  display: flex;
}

.secondaryButton {
  margin-top: 30px;
  height: 70px;
  padding: 20px 50px;
  background-color: var(--secondary-color);
  color: var(--background-color-white);
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline; 
  text-decoration-thickness: 1px; 
}

.secondaryButton:hover {
  background-color: var(--secondary-color-hover);
}

.secondaryButton:active {
  color: var(--primary-color);
}


@media (max-width: 768px) {
  .container {
    margin-top: 50px;
    grid-template-columns: 0fr 1fr;
  }
  .textBlock {
    padding: 20px;
    align-items: center;
    text-align: center;
  }
  .textBlockСontainer h1{
    padding-top: 30px;
    font-size: 3rem;
  }
  .imageBlock{
    display: none;
  }
  .secondaryButton {
    font-size: 1.2rem;
  }
}


@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    margin-top: 30px;
    grid-template-columns: 1fr 4fr;
  }
  .textBlock {
    padding: 40px;
  }
  .textBlockСontainer h1{
    padding-top: 50px;
    font-size: 4rem;
  }
  .secondaryButton {
    font-size: 1.3rem;
  }
}


@media (min-width: 1025px) and (max-width: 1280px) {
  .textBlock {
    padding: 50px;
  }
  .textBlockСontainer h1{
    padding-top: 30px;
    font-size: 4rem;
  }
  .secondaryButton {
    font-size: 1.3rem;
  }
}


@media (min-width: 1281px) and (max-width: 1440px) {
  .textBlock {
    padding: 50px;
  }
  .textBlockСontainer h1{
    padding-top: 30px;
    font-size: 5rem;
  }
  .secondaryButton {
    font-size: 1.4rem;
  }
}

